# Global env tunggal (backend + frontend)
NODE_ENV=production
JWT_SECRET=change_me

# Backend
PORT=5100
ALLOWED_ORIGINS=https://websekolah.darulmukhlisin.ponpes.id,https://www.websekolah.darulmukhlisin.ponpes.id,http://localhost:3000
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=dmu_pesantren
DB_POOL_LIMIT=10

# Frontend public
NEXT_PUBLIC_API_URL=https://websekolah.darulmukhlisin.ponpes.id/api
NEXT_PUBLIC_SITE_NAME=Pondok Pesantren Modern Darul Mukhlisin
NEXT_PUBLIC_SITE_URL=https://websekolah.darulmukhlisin.ponpes.id
