# Native deployment environment
JWT_SECRET=change_me
NODE_ENV=production

# Backend DB
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=dmu_pesantren

# Frontend public
NEXT_PUBLIC_API_URL=https://api.your-domain.com
NEXT_PUBLIC_SITE_NAME=Pondok Pesantren Modern Darul Mukhlisin
NEXT_PUBLIC_SITE_URL=https://your-domain.com
